* {
  font-family: "Alata", sans-serif;
  margin: 0%;
}

body {
  background-color: #a6535a;
  
}

header {
  padding: 10px;
  border-radius: 2%;
  color: aliceblue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

textarea {
  opacity: 0.7;
  border-radius: 10px;
  border: none;
  margin: 10px;
}

button {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: none;
  padding: 5%;
  margin: 10px;
  background-color: #591e29;
  color: white;
  font-size: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border-radius: 4%;
  flex-direction: column;
}

button:hover {
  background-color: #bf3952;
}

#palabrainput,
#resultadotextarea {
  height: 350px;
  width: 300px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

footer {
  font-family: 'Miltonian';
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 5px;
}

.personaje-img {
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 10%; /* ajustar según tus necesidades */
  height: auto; /* ajustar según tus necesidades */
}

.detective {
  width: 50%; /* ajustar según tus necesidades */
  height: 50%; /* ajustar según tus necesidades */

}



